---
// Files
import '/src/global.css';
import { KnownAgents } from "@knownagents/sdk"

// Images
import favicon from '/favicon.ico';
import decor from '../assets/img/black6.gif';
import sprite from '../assets/img/sprites/bussy.png';

// layout
import Header from './elements/Header.astro';
import Aside from './elements/Aside.astro';
import Main from './elements/Main.astro';
import Footer from './elements/Footer.astro';

// Interface
interface Props {
  	title: string;
  	description: string;
}
const { title, description } = Astro.props;
const knownAgents = new KnownAgents("420e1fea-7931-4160-9fd6-bf87899f72fb");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!doctype html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Madmadmaya, mmdungeon" />
		<!-- Links -->
		<link rel="icon" type="image/svg+xml" href={favicon}/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="alternate" href="/src/feed.xml" type="application/rss+xml" title="RSS">
		<!-- Scripts -->
		<script src="../assets/lib/js/no_click.js"></script>
		<!-- Title -->
		<title>MD ꩜⋆˚｡ {title}</title>
	</head>
	<body>
		<Header/>
		<div class="flex">
			<Aside/>
			<Main>
				<h2>{title}</h2>
				<img src={decor.src} alt="" class="m-auto">
				<slot/>
			</Main>
		</div>
		<Footer/>
		<div class="fixed -bottom-6 -right-2 w-70">
			<!-- <a href="https://shop.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"> -->
				<img src={sprite.src} alt="Shop link">
			<!-- </a> -->
		</div>
	</body>
</html>

